.container
  .div{style: 'padding-top: 80px !important'}
    %p
      Our free website terms and conditions document is intended for use in England and Wales in relation to websites with common kinds of interactive features, such as blogs, bulletin boards, forums and chat rooms.

      The terms and conditions document includes the following provisions:

      a licence of the copyright in the website (and restrictions on what may be done with the material on the website);
      a disclaimer of liability;
      a clause governing the use of passwords and restricted areas of the website;
      an acceptable use clause;
      a variation clause;
      an entire agreement clause;
      a clause specifying the applicable law and the jurisdiction in which disputes will be decided; and
      a provision specifying some of the information which needs to be disclosed under the Ecommerce Regulations.